@use 'base/variables' as v;
@use 'base/mixins' as m;

.gana{
    padding: v.$separacion 0;

    &__heading{
        font-size: 5rem;
        text-align: center;
        color: v.$secundario;
    }

    &__grid{
        @include m.tablet {
            @include m.grid(2, 4rem);
            align-items: center;
        }
    }

    &__img{
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: v.$separacion;
        @include m.tablet {
            margin-bottom: 0;
        }
    }

    &__info{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        p{
            line-height: 1.5;
            color: v.$secundario;
            text-align: center;
            @include m.tablet {
                text-align: left;
            }
        }

        a{
            @include m.boton(v.$primario, v.$blanco);
            margin-top: 0.8rem;
            @include m.tablet {
                width: 50%;
            }
        }
    }

}