@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion{

    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.desktop {
        flex-direction: row;
    }

    &__link{
        font-size: 2rem;
        font-weight: 700;
        color: v.$negro;
        margin: 4rem 0 0;

        @include m.desktop {
            margin: 0 4rem 0 0;

            transition: transform 300ms;

            &:hover{
                transform: scale(1.1)
            }
        }
        
        &--registrar{
            @include m.boton(v.$primario, v.$blanco);
        }
    }
}